<h1>Discs</h1>
<% @discs.each do |disc| %>
  <h3><%= disc.name %></h3>
  <h3><%= disc.plastic %></h3>
  <h3><%= disc.speed %></h3>
  <h3><%= disc.available %></h3>
<% end %>
<a href="producers/<%= @producer.id %>/discs/new">New Disc</a>
