<h1> Edit Movie </h1>

<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :length %>
    <%= form.number_field :length %>
  </p>
  <p>
    <%= form.label :genre %>
    <%= form.text_field:genre %>
  </p>
  <p>
    <%= form.label :recently_viewed %>
    <%= form.check_box :recently_viewed %>
  </p>
  <%= form.submit "Submit Updates" %>
<% end %>
