<!-- <a href="/movies">Movies</a>
<a href="/directors">Directors</a> -->

<h1>Movies</h1>

<% @movies.each do |movie| %>
  <h2><%= movie.title %></h2>
  <h3>Recently Viewed: <%= movie.recently_viewed %></h3>
  <h3>Length: <%= movie.length %></h3>
  <h3>Genre: <%= movie.genre %></h3>
  <h3>Director: <%= movie.director_id %></h3>
<% end %>
