<h1>Movies</h1>

<% @movies.each do |movie| %>
  <p>
    <%= movie.title %>
    <%= link_to "Edit #{movie.title}", "/movies/#{movie.id}/edit" %>
  </p>
  <p>
    Recently Viewed: <%= movie.recently_viewed %>
  </p>
  <p>
    Length: <%= movie.length %>
  </p>
  <p>
    Genre: <%= movie.genre %>
  </p>
  <p>
    Director: <%= movie.director_id %>
  </p>
<% end %>
