<header>
  <h1>Movies</h1>
</header>

<body>
  <% @movies.each do |movie| %>
    <h2> <%= movie.title %> </h2>
      <p>
        <%= link_to "Edit #{movie.title}", "/movies/#{movie.id}/edit" %> ||
        <%= link_to "Delete #{movie.title}", "/movies/#{movie.id}", method: :delete %>
      </p>
      <p>
        Recently Viewed: <%= movie.recently_viewed %> ||
        Length: <%= movie.length %> ||
        Genre: <%= movie.genre %> ||
        Director: <%= movie.director_id %>
      </p>
  <% end %>
