  <h1><%= @movie.title %></h1>
  <h3>Recently Viewed: <%= @movie.recently_viewed %></h3>
  <h3>Length: <%= @movie.length %></h3>
  <h3>Genre: <%= @movie.genre %></h3>
  <h3>Director: <%= @movie.director_id %></h3>
