<header>
  <h1><%= @movie.title %></h1>
</header>

<body>
<p>
  Director: <%= @movie.director_id %> ||
  Recently Viewed: <%= @movie.recently_viewed %> ||
  Length: <%= @movie.length %> ||
  Genre: <%= @movie.genre %> 
</p>

<%= link_to "Update Movie", "/movies/#{@movie.id}/edit" %> ||
<%= link_to "Delete Movie", "/movies/#{@movie.id}", method: :delete %>
</body>
