<h1>Movies</h1>

<%= link_to "Sort Movies A->Z", "/directors/#{@director.id}/movies?sort=asc" %>

<div>
<% @movies.each do |movie| %>
  <p>
    <%= movie.title %>
    <%= link_to "Edit #{movie.title}", "/movies/#{movie.id}/edit" %>
  </p>
  <p>Recently Viewed: <%= movie.recently_viewed %></p>
  <p>Length: <%= movie.length %></p>
  <p>Genre: <%= movie.genre %></p>
  <p>Director: <%= @director.name %></p>
<% end %>
</div>

<%= link_to "Add Movie", "/directors/#{@director.id}/movies/new" %>
