<header>
  <h1>Directors</h1>
</header>

<body>
  <%= link_to "Add Directors", "/directors/new" %>
  <div>
    <% @directors.each do |director| %>
      <h2><%= director.name %></h2>
        <%= link_to "Edit #{director.name}", "/directors/#{director.id}/edit" %> ||
        <%= link_to "Delete #{director.name}", "/directors/#{director.id}", method: :delete %>
        <p>Created at: <%= director.created_at %></p>
    <% end %>
  </div>
</body>
