<header>
  <h1><%= @director.name %></h1>
</header>

<body>
  <p>Currently Active: <%= @director.active %> </p>
  <p>Awards Won: <%= @director.awards_won %></p>
  <p>Movie Count: <%= @director.total_movies %></p>

  <%= link_to "#{@director.name} Movies", "/directors/#{@director.id}/movies" %> ||
  <%= link_to "Update Director", "/directors/#{@director.id}/edit" %> ||
  <%= link_to "Delete Director", "/directors/#{@director.id}", method: :delete %>
</body>
