<%= form_with url: "/discs/#{@disc.id}", method: :patch, local: true do |form| %>
  <p>Update Disc:</p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :plastic %>
  <%= form.text_field :plastic %>
  <%= form.label :speed %>
  <%= form.number_field :speed %>
  <%= form.label :available %>
  <%= form.check_box :available %>
  <%= form.label :producer_id %>
  <%= form.text_field :producer_id %>

  <%= form.submit "Update Disc" %>
<% end %>
