<h1>Discs</h1>
<% @discs.each do |disc| %>
  <h3>Name: <%= disc.name %></h3>
  <p>Plastic: <%= disc.plastic %></p>
  <p>Speed: <%= disc.speed %></p>
  <p>Available: <%= disc.available %></p>
  <p><%= link_to "Update #{disc.name}", "discs/#{disc.id}/edit" %></p>
<% end %>
