<h1> <%= @disc.name %></h1>
<p>:Plastic <%= @disc.plastic %></p>
<p>Disc: <%= @disc.name %></p>
<p>Speed: <%= @disc.speed %></p>
<p>Available: <%= @disc.available %></p>
<a href="/discs/<%= @disc.id %>/edit">Update <%= @disc.name %></a>
<%= link_to "Delete Disc", "/discs/#{@disc.id}", method: :delete %>
