<h1> <%= @producer.name %></h1>
<p>Producer <%= @producer.name %></p>
<p>Number of Athletes: <%= @producer.number_of_athletes %></p>
<p>Free Shipping: <%= @producer.free_shipping %></p>
<p>Number of Discs: <%= @producer.count %></p>
<a href="/producers/<%= @producer.id %>/discs"><%= @producer.name %> discs</a>
<a href="/producers/<%= @producer.id %>/edit">Update <%= @producer.name %></a>
