<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Currently placing these links in the header -->
    <%= link_to "Movies", "/movies" %>
    <%= link_to "Directors", "/directors" %>
    <!-- <a href="/discs">Discs</a> -->
    <!-- <a href="/producers">Producers</a> -->
    <!-- we can move later if a User Story denotes a specific location -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
